<%- include("header") -%>
<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eveniet enim ea placeat quod quis suscipit perferendis voluptatem consequuntur quisquam! Dolorem harum dolorum esse ad delectus accusantium nesciunt dolor porro.</p>
<%- include("footer") -%>